target
.env
.idea/
*.iml
src/main/resources/public/bootstrap-3.3.7-dist/*
src/main/resources/public/bootstrap-3.3.7-dist/*
src/main/resources/public/ace-builds-master
ace-builds-master
bootstrap-3.3.7-dist
.vscode/
src/main/resources/public/open-iconic/
node_modules/
