body {
    overflow: hidden;
}
.wideNavBar {
    width: 96%;
}
.dropdown-menu {
    border: 1px solid #595959;
}
.dropdown-divider {
    border-top: 1px solid #595959;
}
#editor {
    border-style: none;
    margin: 0;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}
#editorContainer {
    background-color: rgb(39,40,34);
    margin: 0;
    position: absolute;
    top: 70px;
    bottom: 0px;
    left: 0;
    right: 51%;
}
#displayContainer {
    overflow: auto;
    background-color: rgb(39,40,34);
    margin: 0;
    position: absolute;
    top: 70px;
    bottom: 0px;
    left: 50%;
    right: 0px;
}
#displayContainer pre {
    color: lightgrey;
    border-style: none;
    background-color: rgb(39,40,34);
    overflow: auto;
    margin: 0;
    padding: 9.5px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0px;
}
#header {
    background-color: black;
    margin: 0;
    position: absolute;
    top: 0px;
    height: 70px;
}
.codeOutputError {
    color: rgb(216, 212, 212);
    display: inline-block;
    margin: 2px 0px;
    background-color: rgba(255, 0, 0, 0.43);
}
.codeOutput {
    display: inline-block;
    margin: 2px 0px;
    color: grey;
}
.codeRunSeparator {
    border-color: grey;
}
.stringOutput {
    color: rgb(217,155,40);
}
.numberOutput {
    color: rgb(112,191,83);
}
.booleanOutput {
    color: rgb(235,83,104);
}
.typePrefixOutput {
    font-style: italic;
    color: rgb(70,175,227);
}
.greyOutput {
    color: rgb(180,161,178);
}
.keyOutput {
    color: rgb(70,175,227);
}

.selectableRow {
	cursor: pointer;
}